# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Convex generated
apps/web/convex/_generated/

# Build output
**/dist/
**/.svelte-kit/

# Miscellaneous
**/static/

# Tauri
apps/desktop/src-tauri/target/
